flow-apex-map/force-app/main/default/flows/FlowMapTestSOQL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>assignAccountId</name>
        <label>assignAccountId</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>AccountMap.accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignContact</name>
        <label>assignContact</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Contact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountMap.account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountMap.account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
    </assignments>
    <interviewLabel>FlowMapTestSOQL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowMapTestSOQL</label>
    <loops>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>accountRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignAccountId</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>accountRecords</name>
        <label>accountRecords</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>11</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>accountRecords</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountMap</name>
        <apexClass>FlowMapClass</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
