curabox/force-app/main/default/flows/DailyFollowUpTaskUpdateAndSendEmail_Redesign_Map.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EmailAlertNachfassen_0</name>
        <label>Nachfassen</label>
        <locationX>792</locationX>
        <locationY>1788</locationY>
        <actionName>Contact.X88_Bearbeitungsstand_Genehmigung</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailTemplateNachfassen_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EmailAlertPG51_0</name>
        <label>PG51</label>
        <locationX>264</locationX>
        <locationY>1788</locationY>
        <actionName>Contact.Genehmigung_PG51_l_uft_aus</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailTemplatePG51_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>LieferungAngehalten_0</name>
        <label>LieferungAngehalten</label>
        <locationX>528</locationX>
        <locationY>1788</locationY>
        <actionName>Contact.Lieferung_angehalten_1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailTemplate02a_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PG54Alert</name>
        <label>PG54Alert</label>
        <locationX>1056</locationX>
        <locationY>1788</locationY>
        <actionName>Contact.Genehmigung_PG54_l_uft_aus</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailTemplatePG54_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>addEditedFollowUpTasks</name>
        <label>addEditedFollowUpTasks</label>
        <locationX>792</locationX>
        <locationY>852</locationY>
        <assignmentItems>
            <assignToReference>EditedFollowUpTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ToUpdateFollowUpTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ToUpdateFollowUpTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addNewTask_0</name>
        <label>addNewTask</label>
        <locationX>792</locationX>
        <locationY>2244</locationY>
        <assignmentItems>
            <assignToReference>newTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newTaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CurrentFollowUpTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignContactId</name>
        <label>assignContactId</label>
        <locationX>792</locationX>
        <locationY>1428</locationY>
        <assignmentItems>
            <assignToReference>FollowUpTasksFlowController.contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentFollowUpTask.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFollowUpTasksToUpdate</name>
        <label>Call Method UpdatedFollowUpTasks()</label>
        <locationX>176</locationX>
        <locationY>1068</locationY>
        <assignmentItems>
            <assignToReference>FollowUpTasksFlowController.followUpTasksToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EditedFollowUpTasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignUpdatedFollowUpTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFollowUpTaskValues_0</name>
        <label>AssignFollowUpTaskValues</label>
        <locationX>528</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>ToUpdateFollowUpTask.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Bearbeitung</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ToUpdateFollowUpTask.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayPlus14Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ToUpdateFollowUpTask.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>E-Mail wurde am   {!Today}        versandt</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addEditedFollowUpTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFollowUpTaskValues_0_0</name>
        <label>AssignFollowUpTaskValues</label>
        <locationX>792</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>ToUpdateFollowUpTask.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Geschlossen</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ToUpdateFollowUpTask.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayPlus7Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ToUpdateFollowUpTask.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Today}  /{!CurrentFollowUpTask.Contact__r.Name} wurde per E-Mail gefragt, ob Rückmeldung von PK eingegangen ist. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addEditedFollowUpTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFollowUpTaskValues_PG51</name>
        <label>AssignFollowUpTaskValues</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>ToUpdateFollowUpTask.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Bearbeitung</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ToUpdateFollowUpTask.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayPlus14Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ToUpdateFollowUpTask.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>E-Mail wurde am   {!Today}        versandt</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addEditedFollowUpTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFollowUpTaskValues_PG54</name>
        <label>AssignFollowUpTaskValues</label>
        <locationX>1056</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>ToUpdateFollowUpTask.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Bearbeitung</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ToUpdateFollowUpTask.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayPlus14Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ToUpdateFollowUpTask.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>E-Mail wurde am   {!Today}        versandt</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addEditedFollowUpTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTask_0</name>
        <label>AssignNewTask</label>
        <locationX>528</locationX>
        <locationY>2028</locationY>
        <assignmentItems>
            <assignToReference>newTaskRecord.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Geschlossen</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailTemplate02a_0.Body</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailTemplate02a_0.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.CompletedDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addNewTask_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTask_0_0</name>
        <label>AssignNewTask</label>
        <locationX>792</locationX>
        <locationY>2028</locationY>
        <assignmentItems>
            <assignToReference>newTaskRecord.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Geschlossen</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailTemplateNachfassen_0.Body</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailTemplateNachfassen_0.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.CompletedDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addNewTask_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTask_0_0_0_0</name>
        <label>AssignNewTask</label>
        <locationX>264</locationX>
        <locationY>2028</locationY>
        <assignmentItems>
            <assignToReference>newTaskRecord.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Geschlossen</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailTemplatePG51_0.Body</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailTemplatePG51_0.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.CompletedDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addNewTask_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTaskPG54</name>
        <label>AssignNewTask</label>
        <locationX>1056</locationX>
        <locationY>2028</locationY>
        <assignmentItems>
            <assignToReference>newTaskRecord.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Geschlossen</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailTemplatePG54_0.Body</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailTemplatePG54_0.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.CompletedDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addNewTask_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignUpdatedFollowUpTasks</name>
        <label>get UpdatedFollowUpTasks</label>
        <locationX>176</locationX>
        <locationY>1188</locationY>
        <assignmentItems>
            <assignToReference>SuccessfullyUpdatedFollowUpTasks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FollowUpTasksFlowController.UpdatedFollowUpTasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CurrentFollowUpTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>792</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FollowUpTasksFlowController.Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkSubject_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkSubject_0</name>
        <label>checkSubject</label>
        <locationX>792</locationX>
        <locationY>1668</locationY>
        <defaultConnector>
            <targetReference>addNewTask_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PG51_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentFollowUpTask.Subject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Genehmigung PG51 läuft aus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.Status_PG51__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kunde</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailAlertPG51_0</targetReference>
            </connector>
            <label>PG51</label>
        </rules>
        <rules>
            <name>Lieferung_angehalten_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentFollowUpTask.Subject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lieferung angehalten</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.Status_PG54__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kunde</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LieferungAngehalten_0</targetReference>
            </connector>
            <label>Lieferung angehalten</label>
        </rules>
        <rules>
            <name>Nachfassen_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentFollowUpTask.Subject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nachfassen bei PK wg. offener KÜ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailAlertNachfassen_0</targetReference>
            </connector>
            <label>Nachfassen</label>
        </rules>
        <rules>
            <name>Genehmigung_PG54_l_uft_aus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentFollowUpTask.Subject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Genehmigung PG54 läuft aus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.Status_PG54__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kunde</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PG54Alert</targetReference>
            </connector>
            <label>Genehmigung PG54 läuft aus</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSubject_1_1</name>
        <label>checkSubject</label>
        <locationX>792</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>addEditedFollowUpTasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PG51_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ToUpdateFollowUpTask.Subject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Genehmigung PG51 läuft aus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ToUpdateFollowUpTask.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFollowUpTaskValues_PG51</targetReference>
            </connector>
            <label>PG51</label>
        </rules>
        <rules>
            <name>Lieferung_angehalten_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ToUpdateFollowUpTask.Subject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lieferung angehalten</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ToUpdateFollowUpTask.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFollowUpTaskValues_0</targetReference>
            </connector>
            <label>Lieferung angehalten</label>
        </rules>
        <rules>
            <name>Nachfassen_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ToUpdateFollowUpTask.Subject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nachfassen bei PK wg. offener KÜ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ToUpdateFollowUpTask.Description__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ToUpdateFollowUpTask.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Geschlossen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFollowUpTaskValues_0_0</targetReference>
            </connector>
            <label>Nachfassen</label>
        </rules>
        <rules>
            <name>Genehmigung_PG54_l_uft_aus_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ToUpdateFollowUpTask.Subject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Genehmigung PG54 läuft aus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ToUpdateFollowUpTask.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFollowUpTaskValues_PG54</targetReference>
            </connector>
            <label>Genehmigung PG54 läuft aus</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrentDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Flow.CurrentDate})</expression>
    </formulas>
    <formulas>
        <name>CurrentDayPlus1Day</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Flow.CurrentDate}+1)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <formulas>
        <name>TodayPlus14Days</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+14</expression>
    </formulas>
    <formulas>
        <name>TodayPlus1Day</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Flow.CurrentDateTime} +1)</expression>
    </formulas>
    <formulas>
        <name>TodayPlus7Days</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+7</expression>
    </formulas>
    <interviewLabel>DailyFollowUpTaskUpdateAndSendEmail Redesign Map {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DailyFollowUpTaskUpdateAndSendEmail Redesign Map</label>
    <loops>
        <name>CurrentFollowUpTask</name>
        <label>CurrentFollowUpTask</label>
        <locationX>176</locationX>
        <locationY>1308</locationY>
        <collectionReference>SuccessfullyUpdatedFollowUpTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignContactId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>insertTasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ToUpdateFollowUpTask</name>
        <label>ToUpdateFollowUpTask</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>FollowUpTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkSubject_1_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assignFollowUpTasksToUpdate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>insertTasks</name>
        <label>insertTasks</label>
        <locationX>176</locationX>
        <locationY>2460</locationY>
        <inputReference>newTasks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>EmailTemplate02a_0</name>
        <label>EmailTemplateLieferungAngehalten</label>
        <locationX>528</locationX>
        <locationY>1908</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTask_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wir_vermissen_Sie</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>EmailTemplateNachfassen_0</name>
        <label>EmailTemplateNachfassen</label>
        <locationX>792</locationX>
        <locationY>1908</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignTask_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>X88_Bearbeitungsstand_Genehmigung</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>EmailTemplatePG51_0</name>
        <label>EmailTemplatePG51</label>
        <locationX>264</locationX>
        <locationY>1908</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTask_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PG51_Genehmigung_laeuft_aus</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>EmailTemplatePG54_0</name>
        <label>EmailTemplatePG54</label>
        <locationX>1056</locationX>
        <locationY>1908</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTaskPG54</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PG54_51_Genehmigungen_laufen_aus</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FollowUpTasks</name>
        <label>FollowUpTasks</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ToUpdateFollowUpTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Due_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Due_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>CurrentDayPlus1Day</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Follow_up_Task__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Due_Date__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Subject__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FollowUpTasks</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-05-25</startDate>
            <startTime>15:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>EditedFollowUpTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Follow_up_Task__c</objectType>
    </variables>
    <variables>
        <name>EmailMessages</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>FollowUpTasksFlowController</name>
        <apexClass>FlowController</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>newTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>newTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>SuccessfullyUpdatedFollowUpTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Follow_up_Task__c</objectType>
    </variables>
</Flow>
